body{
    background-color: #F2D492;
}

.loader{
    /* Note - positioning of loader done for a 15.6 inch laptop at 100% zoom*/
    position: absolute;
    top: 250px;
    left: 620px;
    height: 200px;
    width: 200px;
    border-radius: 50%; /*creating a circular loader*/
    border: 20px solid #202C39;
    border-top: 20px solid #43C59E;
    animation-name: myLoader;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite; /*keep running infinite number of times*/
    animation-direction: normal;
}

/*animation blue-print*/
@keyframes myLoader {
    from {
        transform: rotate(0deg); /*0-degrees at 0% completion*/
    } 
    to {
        transform: rotate(360deg); /*360-degrees at 100% completion*/
    } 
}